{% extends 'base.html' %}

{% load static %} 

{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>
{% endblock %} 

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %} 

{% block contenido %}
<div class="slider" >
    <div >
        <img id="nss" src="{% static 'img/banner/banner1.jpg' %}" alt="">
    </div>
    <div>
        <img id="nss" src="{% static 'img/banner/banner2.jpg' %}" alt="">
    </div>
    <div>
        <img id="nss" src="{% static 'img/banner/banner3.jpg' %}" alt="">
    </div>
</div>

{% load humanize %}
<h2>Productos</h2>
<div class="productos">
    {% for p in platos %}
    <div class="producto">
        {% if p.imagen %}
        <div class="contenedor_producto">
        {% endif %}
            <img src="{{ p.imagen.url}}" alt="imagen producto">
            <div class="detalle">
                <h1>{{ p.nombre | title}}</h1>
                <br>
                <h2>${{ p.precio | intcomma }}CLP</h2>
                <br>
                <h3>{{ p.descripcion}}</h3>
            </div>

        </div>
       
    </div>
    {% endfor %}

</div>


</div>

{% endblock %}